body {
    background-color: #121212;
    color: white;
}
.nav_bar_list {
    list-style-type: none;
    background-color: #282828;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav_bar_listing {
    display: inline;
    float: left;
    padding: 10px;
}
.nav_bar_link {
    display: inline-block;
    background-color: #8d721e;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 32px;
}
.nav_bar_link:hover {
    background-color: goldenrod;
}
