.toc_container {
    background-color: #343434;
    border: 2px solid #0a0a0a;
    display: table;
    margin: 1em;
    padding-right: 10px;
    padding-bottom: 5px;
    float: left;
    //position: absolute;
    //left: 0;
    width: auto;
}
.toc_title {
    text-align: center;
}
.toc_container a {
    color: white;
}
