<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Warframe Info Site</title>
  <meta name="description" content="A site to provide information about the game called Warframe.">
  <meta name="author" content="Alento Ghostflame">

  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

</head>

<body>
    <ul class="nav_bar_list">
        <li class="nav_bar_listing"><button class="nav_bar_button">Test</button></li>
        <li class="nav_bar_listing"><button class="nav_bar_button">Test 2</button></li>
        <li class="nav_bar_listing"><button class="nav_bar_button">Test 3</button></li>
    </ul>
  Hello World!
</body>
</html>

