<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="A site to provide information about the game called Warframe.">
  <meta name="author" content="Alento Ghostflame">

  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

</head>

<body>
    <ul class="nav_bar_list">
        <li class="nav_bar_listing"><button class="nav_bar_button">Home</button></li>
        <li class="nav_bar_listing"><button class="nav_bar_button">Warframes</button></li>
        <li class="nav_bar_listing"><button class="nav_bar_button">Weapons</button></li>
        <li class="nav_bar_listing"><button class="nav_bar_button">Mods</button></li>
    </ul>
    {% block body %}
    {% endblock %}
  Hello World!
</body>
</html>

