<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="A site to provide information about the game called Warframe.">
  <meta name="author" content="Alento Ghostflame">

  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  {% block head %}
  {% endblock %}

</head>

<body>
    <ul class="nav_bar_list">
        <li class="nav_bar_listing"><a href="../" class="nav_bar_link">Home</a></li>
        <li class="nav_bar_listing"><a href="warframes" class="nav_bar_link">Warframes</a></li>
        <li class="nav_bar_listing"><a href="weapons" class="nav_bar_link">Weapons</a></li>
        <li class="nav_bar_listing"><a href="mods" class="nav_bar_link">Mods</a></li>
    </ul>
    {% block body %}
    {% endblock %}
    <div class="bigger_div">
        <hr style="border: 5px solid #282828;">
        This is a footer I guess
    </div>
</body>
</html>

