{% extends "base.html" %}
{% block title %} Warframe List {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='warframe_list.css') }}">
{% endblock %}
{% block body %}
    <div class="bigger_div">
        List of all available Warframes:
        <ul class="warframe_list">
        {% for i in range(warframe_names|length) %}
            <li class="warframe_listing"><a class="warframe_link" href="warframes/{{file_names[i]}}">{{warframe_names[i]}}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}